<!DOCTYPE html>
<html>
<head>
<title>RPS</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<div class= 'container'>
<div class= 'jumbotron'>
<body>
<h1>Select Your Move:</h1>
</div>
<div class="row">
  <div class="col-md-6">

    <h1> Player: </h1>
    <h2>Paper</h2>

  </div>
  <div class="col-md-6">
    <h1> CPU: </h1>
    foreach(var selection in cpu)
    {
    <h2>cpu.Choose</h2>
    }

</body>
</div>
</html>
